<table class="table table-secondary table-hover mt-4">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Precio</th>
      <th scope="col">Modelo</th>
      <th scope="col">Marca</th>
    </tr>
  </thead>
  <tbody>
      <% productos.forEach( articulo =>{ %>
      <tr>
      <th scope="row"><%=articulo.id%></th>
      <td><%=articulo.descripcion%></td>
      <td><%=articulo.precio%></td>
      <td><%=articulo.modelo%></td>
      <td><%=articulo.marca%></td>
      </tr>
      <% }) %>
  </tbody>
</table>