<p><%=titulo_tabla%></p>

<table class="table table-secondary table-hover mt-4">
    <thead>
      <tr>
        <th scope="col">#</th>
        <!--con la funcion sails.__ llamamos el equivalente de Marca o modelo en el idioma que este predeterminado-->
        <th scope="col"><%=sails.__("Marca")%></th>
        <th scope="col"><%=sails.__("Modelo")%></th>
        <th scope="col">Descripcion</th>
        <th scope="col">Precio</th>
        <th scope="col">Usuario</th>
        <th scope="col">Comentarios</th>
      </tr>
    </thead>
    <tbody>
        <% productos.forEach( articulo =>{ %>
        <tr>
        <th scope="row"><%=articulo.id%></th>
        <td><%=articulo.marca%></td>
        <td><%=articulo.modelo%></td>
        <td><%=articulo.descripcion%></td>
        <td><%=articulo.precio%></td>
        <td><%=articulo.usuario.nombre%></td>
        <td>
          <ul>
            <% articulo.comentarios.forEach( comentario =>{ %>
              <li><%=comentario.descripcion%></li>
            <%})%>
          </ul>
        </td>
        </tr>
        <% }) %>
    </tbody>
</table>